{% extends 'basic_app/base.html' %}
{% load widget_tweaks %}
    {% block content %}
        <h1>Register here</h1>
        <form class="form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <fieldset>
                {% for hidden in user_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <legend>SIGN UP HERE</legend>
                {% for field in user_form.visible_fields %}
                    <div class="form-group row">
                        <label class="col-sm-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control col-sm-9" %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger col-sm-12 mt-4" role="alert">
                                <span class="help-block">{{ error }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% for hidden in profile_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="form-group row">
                    <label class="col-sm-3" for="{{ profile_form.fb_profile_link.id_for_label }}">{{ profile_form.fb_profile_link.label }}</label>
                    {% render_field profile_form.fb_profile_link class="form-control col-sm-9" %}
                    {% for error in profile_form.fb_profile_link.errors %}
                        <div class="alert alert-danger col-sm-12 mt-4" role="alert">
                            <span class="help-block">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.profile_pic.id_for_label }}">{{ profile_form.profile_pic.label }}</label>
                    {% render_field profile_form.profile_pic class="form-control-file" %}
                    {% for error in profile_form.profile_pic.errors %}
                        <div class="alert alert-danger col-sm-12 mt-4" role="alert">
                            <span class="help-block">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            <input type="submit" value="Submit" class="btn btn-outline-info">
        </form>
    {% endblock %}